<div class="bookmark">
    <img src="{{bookmark.imgUrl}}">
    <a class='bookmark-link' target='_blank' href='{{bookmark.url}}'>{{bookmark.title}}</a>
    <a class='bookmark-delete' href='#' {{action 'delete' bookmark}}>{{fa-icon 'close'}}</a>
</div>
